
table
{
    width: 300px;
    padding: 4px;
    margin: 10px;
    
}

.table1>table tr:nth-child(odd) td:first-child{border-left: 4px solid red;}
.table1>table tr:nth-child(even) td:first-child{border-left: 4px solid blue;}
.table1>table tr td { border-left:4px solid lightgrey; }

.table2>table tr th{background-color:black;color:white}

.table2>table tr:nth-child(odd) {background-color:#c0c0c0;color:white;}
.table2>table tr:nth-child(even) {background-color:#888888;color:efefef;}

.table2>table tr:nth-child(4) td:nth-child(2){background-color:#ffbbbb;color:white;}
.table2>table tr:nth-child(7) td:nth-child(2){background-color:#ffbbbb;color:white;}



</style>
